<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="VersionTableName" value="[migrate].[EnvironmentVersion]"/>
    <add key="ScriptSourceFolder" value="C:\RagingCode\SWIXHorus\Horus.Player.Services\MigrationScripts"/>
    <add key="MigrationScriptFile" value="MigrationScript.sql"/>
    <add key="EnvironmentOrders" value="Dev=3;QA=2;Prod=1" />
    <add key="CurrentEnvironment" value="Dev" />
  </appSettings>

  <connectionStrings>
    <!--<add name="MigrationDestination" connectionString="Server=localhost;Database=Wtf5;Trusted_Connection=True;"/>-->
    <add name="MigrationDestination" connectionString="Server=RRIOMDEVSQL00\DEV;Database=HorusAccount;User Id=DeploymentManager;Password=5bf758%%DES##a129;"/>
  </connectionStrings>
</configuration>